* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	min-width: 1620px;
	background-image: url('../img/fond/fond_papier.jpg');
}

/* couleur vieux jaune en dégradé ? #f0d8a5 */

#livre {    
	position: relative;
    margin-bottom: 100px;
    height: 100vh;
    min-height: 1000px;  
}

.pages {
	-webkit-perspective: 4000px;
	        perspective: 4000px;
	position: relative;
	height: 100%;
	width: 1200px;
	margin: 0 auto;
}

.effet_bas_livre {
    background-color: rgba(128, 128, 128, .2);
    width: 600px;
    height: 50px;
    position: absolute;
    bottom: -7px;
    right: 86px;
    -webkit-transform: skew(83deg, 1deg);
        -ms-transform: skew(83deg, 1deg);
            transform: skew(83deg, 1deg);
}

/* effet épaisseur gauche */
.pages::before {
	content: "";
	background-color: white;
	width: 50px;
	height: 830px;
	border-top-left-radius: 70px 23px;
	background-image: -o-repeating-linear-gradient(right, rgba(128,128,128,.3) 4%, rgba(240,216,165,.5) 12%);
	background-image: repeating-linear-gradient(to left, rgba(128,128,128,.3) 4%, rgba(240,216,165,.5) 12%);
	position: absolute;
	top: 170px;
	left: -50px;
}

/*effet épaisseur droite*/
.pages::after {
	content: "";
	background-color: white;
	width: 115px;
	height: 830px;
	border-top-right-radius: 145px 26px;
	background-image: -o-repeating-linear-gradient(left, rgba(128,128,128,.3) 4%, rgba(240,216,165,.5) 7%);
	background-image: repeating-linear-gradient(to right, rgba(128,128,128,.3) 4%, rgba(240,216,165,.5) 7%);
	position: absolute;
	top: 176px;
	right: -115px;
	-webkit-transform: skew(0deg, 6deg);
	    -ms-transform: skew(0deg, 6deg);
	        transform: skew(0deg, 6deg);
}

#livre .pages > div {

	width: 600px;
	height: 830px;
	border: 1px solid rgba(128,128,128,.2);
	position: absolute;
	top: 170px;
	background: white;
}

#livre .pages > div:nth-child(1) {
	z-index: 5;
	transform : translate(0%);
	border-top-right-radius:95px 32px;
	border-bottom-right-radius:95px 16px;
}

#livre .pages > div:nth-child(2) {
	z-index: 5;
	transform: translate(100%);
	border-top-left-radius:95px 32px;
	border-bottom-left-radius:95px 16px;
}

#livre .pages > div:nth-child(3) {
	z-index: 6;
	opacity: 0;
	
}

#livre .pages > div:nth-child(2n+1) {
	border-right: 1px inset rgba(0,0,0,.2);
	overflow: hidden;
}

#livre .pages > div:nth-child(2n) {
	border-left: 3px inset rgba(0,0,0,.15);
	overflow: hidden;
}

/* coté jauni (bande externe) GENERAL */
#livre .pages > div > span:nth-child(2) {
	z-index: 5;
	content: "";
	width: 120px;
	height: 100%;
	position: absolute;
	top: 0;
}

/* coté jauni gauche page gauche */
#livre .pages > div:nth-child(2n+1) > span:nth-child(2) {
	left: 0;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(-30%, rgba(240,216,165,.6)), to(transparent));
	background-image: -o-linear-gradient(left, rgba(240,216,165,.6) -30%, transparent);
	background-image: linear-gradient(to right, rgba(240,216,165,.6) -30%, transparent);
}

/* coté jauni droit page droite */
#livre .pages > div:nth-child(2n) > span:nth-child(2) {
	right: 0;
	background-image: -webkit-gradient(linear, right top, left top, color-stop(-30%, rgba(240,216,165,.6)), to(transparent));
	background-image: -o-linear-gradient(right, rgba(240,216,165,.6) -30%, transparent);
	background-image: linear-gradient(to left, rgba(240,216,165,.6) -30%, transparent);
}

/* coté jauni bande haute GENERAL */
#livre .pages > div > span:nth-child(3) {
	z-index: 5;
	content: "";
	width: 100%;
	height: 120px;
	position: absolute;
	top: 0;
}

/* coté jauni haut page gauche */
#livre .pages > div:nth-child(2n+1) > span:nth-child(3) {
	left: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-30%, rgba(240,216,165,.6)), to(transparent));
	background-image: -o-linear-gradient(top, rgba(240,216,165,.6) -30%, transparent);
	background-image: linear-gradient(to bottom, rgba(240,216,165,.6) -30%, transparent);
}

/* coté jauni haut page droite */
#livre .pages > div:nth-child(2n) > span:nth-child(3) {
	right: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-30%, rgba(240,216,165,.6)), to(transparent));
	background-image: -o-linear-gradient(top, rgba(240,216,165,.6) -30%, transparent);
	background-image: linear-gradient(to bottom, rgba(240,216,165,.6) -30%, transparent);
}

/* coté jauni bande bas GENERAL */
#livre .pages > div > span:nth-child(4) {
	z-index: 5;
	content: "";
	width: 100%;
	height: 120px;
	position: absolute;
	bottom: 0;
}

/* côté gris GENERAL */
#livre .pages > div > span:nth-child(1) {
	z-index: 5;
	content: "";
	width: 120px;
	height: 100%;
	position: absolute;
	top: 0;
}

/*coté gris page gauche */
#livre .pages > div:nth-child(2n+1)> span:nth-child(1) {
	right: 0;
	background-image: -webkit-gradient(linear, right top, left top, color-stop(34%, rgba(128,128,128,.2)), to(transparent));
	background-image: -o-linear-gradient(right, rgba(128,128,128,.2) 34%, transparent);
	background-image: linear-gradient(to left, rgba(128,128,128,.2) 34%, transparent);
}

/*coté gris page droite */
#livre .pages > div:nth-child(2n) > span:nth-child(1) {
	left: 0;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(34%, rgba(128,128,128,.2)), to(transparent));
	background-image: -o-linear-gradient(left, rgba(128,128,128,.2) 34%, transparent);
	background-image: linear-gradient(to right, rgba(128,128,128,.2) 34%, transparent);
}

/* coté jauni bas page gauche */
#livre .pages > div:nth-child(2n+1) > span:nth-child(4) {
	
	left: 0;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-30%, rgba(240,216,165,.6)), to(transparent));
	background-image: -o-linear-gradient(bottom, rgba(240,216,165,.6) -30%, transparent);
	background-image: linear-gradient(to top, rgba(240,216,165,.6) -30%, transparent);
}

/* coté jauni bas page droite */
#livre .pages > div:nth-child(2n) > span:nth-child(4) {
	
	left: 0;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-30%, rgba(240,216,165,.6)), to(transparent));
	background-image: -o-linear-gradient(bottom, rgba(240,216,165,.6) -30%, transparent);
	background-image: linear-gradient(to top, rgba(240,216,165,.6) -30%, transparent);
}

/* effet coin de page */
#livre .pages > div:nth-child(2n)::before {
	content: "";
	position: absolute;
	right: 0px;
	border-color: #FFF rgba(240,216,165,.2) #f0d8a5 #FFF;
	border-style: solid;
	border-width: 0px 50px 50px 0px;
	height: 0px;
	width: 0px;
	display: block;
	-webkit-box-shadow: 0pt 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0pt 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
}

/* les flèches */
.boutons-diapos > a {
	position: absolute;
	color:white;
    font-size: 4em;
	z-index: 100;
	text-align:center;
    top: 350px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
	transition: all .2s;
	height: 500px;
    width: 35px;
    background: rgba(0,0,0,.1);
    line-height: 500px;

}

.boutons-diapos > a:hover { background-color: rgba(0,0,0,.7); }
.boutons-diapos > a:nth-child(1) { left: 220px; }
.boutons-diapos > a:nth-child(2) { right: 153px; }


/* animation de la page */
@keyframes tournerPage {

	0% {
		transform: translate(100%);
		opacity: 1;
	}
	25% { transform: translate(85%) rotateY(-55deg); }
	50% {
		transform: translate(40%) rotateY(-95deg);
		opacity: 0.7;
	}
	75% { transform: translate(20%) rotateY(-125deg); }
	100% {
		transform: translate(0%) rotateY(-180deg);
		opacity: 0;;
	}
}

.bordureDroite {

	border-top-left-radius:95px 32px;
	border-bottom-left-radius:95px 16px;
}

.bordureGauche {

	border-top-right-radius:95px 32px;
	border-bottom-right-radius:95px 16px;
}

.animPageSuivante {
	animation: tournerPage .2s linear;
	
}

.animPagePrecedente {
	animation: tournerPage 0.2s ease reverse;
}