* { box-sizing: border-box; }
body {
	background-color: #f5f5f5;
	font-family: 'Lato', sans-serif;
    min-height: 100%;
    overflow-x:hidden; 
    margin: 0;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

a:hover {
	text-decoration: none;
}

header {
    overflow: hidden;
}

header nav {
	background-color: white;
	height: 80px;
	padding: 0 10px;
	font-family: 'Roboto Condensed', serif;
    position:relative;
}

nav .hamburger-menu { display:none; }

header ul {
	list-style-type: none;
    display: flex;
    margin-bottom: 0px;
}

header ul > li {
	line-height: 80px;
    width: auto;
	text-align: center;
	text-transform: uppercase;
	padding: 0 20px;
}

header ul > li > a {
	color: #777;
}

header a:hover {
    color: #f5bb00;
    text-decoration: none;
}

li.logo a {
    font-size: 1.7em;
    font-weight: bold;
    color: #f5bb00;
    font-family: cursive;
    text-shadow: 4px 3px 2px rgba(0,0,0,.1);
}


/* MISE EN PAGE DU BLOC GAUCHE*/

.bloc-text {
    margin-left: 30px;
}

.bloc-items-left .post-item .bloc-text {
    width: 83%;
}

.post-item {
    
    display: flex;
    background-color: white;
    margin-bottom: 30px;
    padding: 30px 0 30px 30px;
    transform: scale(1);
    box-shadow: 0px 0px 17px 3px rgb(220, 211, 211);
    transition: transform .2s, box-shadow .3s;
    position: relative;
    cursor: pointer;
}

.post-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 17px 3px rgb(175, 167, 167);
}

.post-item .bloc-img {
	overflow: hidden;
    width: 60%;
    height: auto;
}

.bloc-img > div:first-child {
    width: 100%;
    height: 100%;
	background-size: cover;
	transition: all 0.5s;
    background-position: center;
}

.bloc-img > div:first-child:hover {

	transform: scale(1.2);
}


p.book-name {
    color: #f5bb00;
    font-family: 'Roboto Condensed', serif;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0;
}


h2.bloc-title {font-family: 'Roboto Condensed', serif;color: #50514f;font-size: 1.5em; text-transform: uppercase;}

.bloc-infos {
    width: 100%;
    display: flex;
    color: #cecece;
    font-size: 0.9em;
}

.date-part {
    margin-left: 1.2rem;
}

.comments-part { margin-left: 1.2rem; }

.bloc-infos a { color: #cecece; }

.author-part span { margin-left: 0.3rem; }

p.bloc-teaser {
    color: #999;
    margin-top: 0.9rem;
    font-size: 0.9em;
}

p.bloc-button { margin-top: 1.5em; }

p.bloc-button a {
    padding: 12px 28px;
    background-color: #f5bb00;
    color: white;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
	font-weight: bold;
	position: relative;
	transition-delay: 1s;
}


p.bloc-button a:hover:after {
    background: black;
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .15;
} 

p.bloc-button a:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 92%;
    height: 81%;
    border: 1px dashed rgba(255,255,255,.3);
    transform: translate(-50%, -50%);
}

p.bloc-button a:hover:before {
	border: 1px dashed rgba(255,255,255,1);
}

/* STYLE BLOC DROITE */

.chapter .thumbnail {

	height: 80px;
	width: 80px;
	background-size: cover;
}

.chapter h4 a {
	color: #777;
    font-family: 'Patrick Hand', serif;
    font-size: 0.9em;
    vertical-align: middle;
    font-weight: bold;
    padding-top: 14px;
    padding-right: 10px;
}

.chapter, .comm {
	display: flex;
    margin: 0px 20px;
    padding: 15px 0;
    border-top: 1px solid #f1f1f1;
	
}

.comm {
	border-top: 1px solid #e4dbdb;
}

.chapter > div:last-child {
    padding-left: 1.3rem;
    align-self: center;
    height: 80px;
	width: 78%;
    background: #f9f9f9;
}

.book-full { background: white; }

h3 {
	font-size: 1em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
	padding: 20px 0 20px 0;
	margin-left: 20px;
    color: #50514f;
	letter-spacing: 1px;
	margin-bottom: 0;
	border-bottom: 1px solid #f5bb00;
    width: 190px;
}

.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.comm { display: flex; }

.comm p {
	margin: 0;
	color: #777777;
}

.comms-body { margin-left: 1rem; }

p.comm-text { font-size: 0.9em; }

p.comm-author a, p.comm-more a { color: #666; }

p.comm-author a:hover, p.comm-more a:hover { color: #f5bb00; }

.comments-part-right { background: white; padding-top: 20px; }


/******* STYLE PAGE ARTICLE ********/

.article {
    background-color: white;
    padding: 1.9rem;
    margin-top: 2.1rem;
    text-align: justify;
    color: #3e3a3a;
    font-family: 'Lato', sans-serif;
    line-height: 27px;
}

.article h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
   /*  text-align: center; */
    color: #50514f;
    font-size: 36px;
    margin-bottom: 2em;
}


.image-head img {
    width: 100%;;
}

.bloc-arrow p {
    text-indent: 0px;;
}

.bloc-arrow .row > div > div {
    cursor: pointer;
}

.content-body hr {
    margin: 3rem 0;
}

.bloc-arrow i {
    display: block;
    color: white;
    background: #f5bb00;
    padding: 26px 10px;

}

.arrow-left, .arrow-right { clear: both;}
.arrow-left i {
    float: left;
}

.arrow-left.empty {
    cursor:help !important;
}

.arrow-right i {
    float: right;
}

p.title-previous a, p.title-next a {
    text-transform: uppercase;
    font-size: 16px;
    color: #f5bb00;
    font-weight: bold;
}

p.title-previous a:hover, p.title-next a:hover {
    color: #50514f;
} 

p.title-previous {
    margin-left: 3rem;
    margin-bottom: 0px;
}

p.title-next {
    text-align: end;
    margin-right: 3rem;
    margin-bottom: 0px;
}

.bloc-arrow .legend {
    text-align: center;
    font-size: 12px;
}

/** STYLE BLOC-COMMENTAIRES **/

.bloc-comments {
    background-color: white;
    padding: 1.9rem;
    padding-right: 10rem;
}

h3.nbr-comments {
    width: 145px;
    margin-left: 0;
}

.comment {
    display: flex;
    clear: both;
}

.avatar {
    background-image: url('../images/avatar-mini.jpg');
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}

span.comment-name {
    color: black;
    font-weight: bold;
}

.commentaire {
    width: auto;
    height: auto;
    font-size: 0.9em;
    background-color: #f5f5f5;
    border-top-left-radius: 25px;
    padding: 10px 16px 14px 17px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.infos-comment a, .infos-comment {
    color: #f5bb00;
}

.infos-comment a:hover {
    text-decoration: underline;
}

.infos-comment .edit-comment a, 
.infos-comment .suppr-comment a,
.edit-comment-answer a,
.suppr-comment-answer a {
    color:#f57c00;
}

.infos-comment > span {
    margin-left: .6rem;
}

.commentaire p {
    margin-bottom: 0;
}

.infos-comment {
    margin-left: 1rem;
    font-size: 0.9em;
}

.comment > div:last-child {
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.bloc-comments > div {
    border-top: 1px solid #f1f1f1;
    padding-top: 3rem;
}


.container-sous-comment:before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 27px;
    height: 110%;
    background: #f5f5f5;
    width: 1px;
}

.container-sous-comment {
    padding-left: 3rem;
    position: relative;
}

.container-comments textarea {
    overflow: auto;
    resize: vertical;
    width: auto;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px 16px 14px 17px;
    resize: none;
}

.container-comments textarea:focus {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    outline: none;
}

.container-comments form {
    margin-left: 5rem;
}

input#send-comment, input#send-answer {
    background-color: #f5bb00;
    border: none;
    color: white;
    padding: 0 20px;
    line-height: 28px;
    height: 28px;
}

.alert {
    color: red;
    font-weight: bold;
}

form > p:first-child {
    margin-bottom: 5px;
}

ul.liens_utiles {
    list-style-type: none;
    margin-top: 1rem;
    padding-left: 1rem;
    line-height: 30px;
    padding-bottom: 1rem;
}

ul.liens_utiles a {
    color:#f5bb00;
}

ul.liens_utiles a:hover {
    text-decoration: underline;
}

.btn-envoie{
    background-color: #f5bb00;
    color: white;
}

label {
color:#777;
}

.form-control:focus {
  box-shadow:  0 0 0 0.2rem #f5bb00;
  opacity: .5;
}


/* SLIDER */

    .container-slider { width: 100vw; position: relative; margin-bottom:20px;}

    .bloc-photos {
        display: flex;
        flex-wrap: nowrap;
        transform: translateX(0);
        transition: transform 1s cubic-bezier(.01,-0.03,.29,1);
    }

    .bloc-photos > div, .bloc-visible [class^='bloc-sombre'] {
        height:600px;
    }

    .bloc-photos > div { min-width: 100vw; }

    .bloc-visible {
        min-width: 100vw;
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 5px #f5bb00 solid; 
        cursor: pointer;
    }

    .photo-slider {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    }

    .bloc-visible [class^='bloc-sombre'] {
        position: relative;
        width: 25%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.3);
        border-left: 1px solid #FFF;
    }

    .bloc-visible .bloc-text {
        width: 95%;
        height: 34%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 35%);
        background: rgba(0,0,0,0);
        text-align: center;
        padding: 10px 0;
        margin-left: 0;
        transition: transform .2s linear;
    }

.liens_admin {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: white;
    padding: 2rem;
    border: 2px solid #f5bb00;
}

a.lien-editer-chapitre {
    font-size: 2em;
    margin-left: 1rem;
}

a.lien-editer-chapitre:first-child {
    color: #0d7cef;
}

a.lien-editer-chapitre:last-child {
    color: red;
}

a.lien-editer-chapitre:hover { text-decoration: underline;  }

.bloc-visible .active { background-color: rgba(0,0,0,0); }
.bloc-visible .bloc-text a { text-decoration: none;}
.bloc-visible .bloc-text h2 { margin-top: 7px; margin-bottom: 7px; color: #cecece; transition: color .3s; }
.bloc-visible .bloc-text .book-name { color: #cecece; transition: color .3s;}
.bloc-visible .bloc-text .date { margin-top: 14px;  color: #cecece; }
.bloc-visible .bloc-text .bloc-button {  margin-top: 2.5em; }
.bloc-visible .active .bloc-text { background: rgba(0,0,0,.4); transform: translate(-50%, 0); }
.bloc-visible .active .bloc-text .book-name { color: #f5bb00;}
.bloc-visible .active .bloc-text h2 { color: white; margin-top: 7px; margin-bottom: 7px; }
.bloc-visible .active .bloc-text .date { color: #cecece; }
.bloc-visible .active .bloc-text .date { margin-top: 14px; }
.bloc-visible .active .bloc-text .bloc-button {  margin-top: 2.5em; }

.bloc-visible .bloc-text a:hover { text-decoration: underline; text-decoration-color: white;}


@media only screen and (max-width: 1200px) {
	section {
		padding: 30px;
	}
}

/* BTN LOGIN FACEBOOK */

a.btn-connexion-fb {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

i.fa.fa-facebook-official {
    font-size: 2.47em;
    display: inline-block;
    color: #395499;
    vertical-align: middle;
}

.btn-connexion-fb span {
    color: white;
    display: inline-block;
    padding: 0;
    background: #395499;
    font-size: .8em;
    padding: .55em;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}